@model Tuple<SalariedEmployeeModel, HourlyEmployeeModel, ManagerEmployeeModel>


<div class="row">
   
    <div class="col-md-6">
        <h5>Edit Employee Worked Days</h5>
        <hr />
        @if (@ViewBag.successMsg != null)
        {
            <div class="alert alert-success">
                <strong>Success!</strong> @ViewBag.successMsg.
            </div>
        }
        @if (@ViewBag.errorMsg != null)
        {
            <div class="alert alert-danger">
                <strong>Error!</strong> @ViewBag.errorMsg.
            </div>
        }

        @if (@ViewBag.employeeType == "S")
        {

    <form asp-action="Work" asp-route-employeeId="@Model.Item1.employeeId" asp-route-employeeType="@ViewBag.employeeType">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Item1.employeeId" />
        <div class="form-group">
            <label asp-for="Item1.firstName" class="control-label"></label>
            <input asp-for="Item1.firstName" class="form-control" />
            <span asp-validation-for="Item1.firstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Item1.lastName" class="control-label"></label>
            <input asp-for="Item1.lastName" class="form-control" />
            <span asp-validation-for="Item1.lastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Item1.SSN" class="control-label"></label>
            <input asp-for="Item1.SSN" class="form-control" />
            <span asp-validation-for="Item1.SSN" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <label asp-for="Item1.numberofWorkedDays" class="control-label"></label>
            <input asp-for="Item1.numberofWorkedDays" class="form-control" />
            <span asp-validation-for="Item1.numberofWorkedDays" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Item1.vacation" class="control-label"></label>
            <input asp-for="Item1.vacation" disabled="disabled" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>

        }
        @if (@ViewBag.employeeType == "H")
        {

    <form asp-action="Work" asp-route-employeeId="@Model.Item2.employeeId" asp-route-employeeType="@ViewBag.employeeType">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Item2.employeeId" />
        <div class="form-group">
            <label asp-for="Item2.firstName" class="control-label"></label>
            <input asp-for="Item2.firstName" class="form-control" />
            <span asp-validation-for="Item2.firstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Item2.lastName" class="control-label"></label>
            <input asp-for="Item2.lastName" class="form-control" />
            <span asp-validation-for="Item2.lastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Item2.SSN" class="control-label"></label>
            <input asp-for="Item2.SSN" class="form-control" />
            <span asp-validation-for="Item2.SSN" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Item2.numberofWorkedDays" class="control-label"></label>
            <input asp-for="Item2.numberofWorkedDays" class="form-control" />
            <span asp-validation-for="Item2.numberofWorkedDays" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Item2.vacation" class="control-label"></label>
            <input asp-for="Item2.vacation" disabled="disabled" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
        }
        @if (@ViewBag.employeeType == "M")
        {
            
    <form asp-action="Work" asp-route-employeeId="@Model.Item3.employeeId" asp-route-employeeType="@ViewBag.employeeType">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Item1.employeeId" />
        <div class="form-group">
            <label asp-for="Item3.firstName" class="control-label"></label>
            <input asp-for="Item3.firstName" class="form-control" />
            <span asp-validation-for="Item1.firstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Item3.lastName" class="control-label"></label>
            <input asp-for="Item3.lastName" class="form-control" />
            <span asp-validation-for="Item1.lastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Item3.SSN" class="control-label"></label>
            <input asp-for="Item3.SSN" class="form-control" />
            <span asp-validation-for="Item1.SSN" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Item3.numberofWorkedDays" class="control-label"></label>
            <input asp-for="Item3.numberofWorkedDays" class="form-control" />
            <span asp-validation-for="Item3.numberofWorkedDays" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Item3.vacation" class="control-label"></label>
            <input asp-for="Item3.vacation" disabled="disabled" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
            
        }
    </div>
</div>
<div>
    <a asp-action="Index">Back to list</a>
</div>